<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" ng-show="title">
				<button type="button" class="close" aria-label="Close" ng-click="$hide()">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" ng-bind="title"></h4>
			</div>
			<div class="modal-body">
				<p>Biztosan törlöd a relét?</p>

				<div>
					<table class="summary-table">
						<tbody>
						<tr>
							<td><strong>Relé azonosítója:</strong></td>
							<td>GPIO-PIN-{{vm.relay.relayid}}</td>
						</tr>
						<tr>
							<td><strong>Relé neve:</strong></td>
							<td>{{vm.relay.name}}</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-ng-click="$hide()">Vissza</button>
				<button type="button" class="btn btn-danger" data-ng-click="vm.removeRelay()">Törlés</button>
			</div>
		</div>
	</div>
</div>
