.settings-tabs {
  .panel {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    table {
      td {
        vertical-align: middle;

        .icon {
          display: block;
        }
      }
    }
  }
}
