.settings-tabs {
  .panel {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    tbody tr {
      &:nth-child(even) {
        background-color: #f0f0f0;
      }
      td {
        vertical-align: middle;

        .icon {
          display: block;
        }

        input {
          min-width: 100px;
        }

        button {
          vertical-align: middle;
        }

        .toggle-switch {
          vertical-align: middle;
        }
      }
    }
  }
  .nav-tabs > li {
    cursor: pointer;
  }
}

.main-condition {
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  padding: 10px 0;

  select {
    margin: 5px 0;
  }

  .delete {
    margin: 8px 0 5px 10px;
    float: right;
  }

  .main-form-group {
    background: #efefef;
    border: 1px dotted #aaa;
    padding: 5px;

    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }

  + .main-condition {
    border-top: 0;
  }
}

.sub-condition {
  margin-left: 40px;
  padding: 5px 5px 5px 10px;
  border: 1px dotted #ccc;
  border-top: 0;

  &:nth-child(odd) {
    background-color: #f0f0f0;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  select {
    margin: 5px 0;
  }

  .delete {
    margin: 8px 0 5px 5px;
    float: right;
    min-width: 40px;
  }
}

.add-main-condition {
  margin: 10px 0 30px 0;
}

.add-sub-condition {
  margin-top: 5px;
  padding-left: 50px;
}
