<div class="form-inline sub-form-group">
	<span ng-if="$parent.$index !== 0">és</span>
	&nbsp;ha&nbsp;
	<select class="form-control"
			data-ng-model="vm.ngModel.conditionType"
			data-ng-options="conditionType.id as conditionType.label for conditionType in vm.conditionTypes">
		<option label="Válassz kategóriát!"></option>
	</select>
	<span ng-if="vm.ngModel.conditionType === 'TEMP'">
		&nbsp;a&nbsp;
		<select class="form-control"
				data-ng-model="vm.ngModel.conditionValue1"
				data-ng-options="sensor as sensor.name for sensor in vm.sensors track by sensor.sensorid">
			<option label="Válassz érzékelőt!"></option>
		</select>
		&nbsp;-ban/ben&nbsp;
	</span>
	<span ng-if="vm.ngModel.conditionType !== 'RELAY' && vm.ngModel.conditionType !== 'DAY'">
		<select class="form-control"
				data-ng-model="vm.ngModel.condition"
				data-ng-options="condition.sign as condition.label for condition in vm.conditions">
			<option label="Válassz feltételt!"></option>
		</select>
	</span>
	<span ng-if="vm.ngModel.conditionType === 'TEMP'">
		<input class="form-control"
			   data-ng-model="vm.ngModel.conditionValue2"
			   placeholder="Írj be értéket!"
			   only-real-number />
	</span>
	<span ng-if="vm.ngModel.conditionType === 'DAY'">
		<select class="form-control"
				data-ng-model="vm.ngModel.condition"
				data-ng-options="condition.sign as condition.label for condition in vm.conditions | filter: {boolComparable: true}">
			<option label="Válassz feltételt!"></option>
		</select>
		&nbsp;
		<select class="form-control"
				data-ng-model="vm.ngModel.conditionValue1"
				data-ng-options="dayOption.value as dayOption.label for dayOption in vm.dayOptions">
			<option label="Válassz értéket!"></option>
		</select>
	</span>
	<span ng-if="vm.ngModel.conditionType === 'DATE'">
		<input type="text"
			   class="form-control"
			   data-ng-model="vm.ngModel.conditionValue1"
			   data-start-week="1"
			   data-date-format="yyyy-MM-dd"
			   data-use-native="true"
			   data-icon-left="icon icon-chevron-left"
			   data-icon-right="icon icon-chevron-right"
			   placeholder="Válassz dátumot!"
			   bs-datepicker>
	</span>
	<span ng-if="vm.ngModel.conditionType === 'TIME'">
		<input type="text"
			   class="form-control"
			   data-ng-model="vm.ngModel.conditionValue1"
			   data-time-format="HH:mm"
			   data-use-native="true"
			   data-length="1"
			   data-minute-step="1"
			   data-arrow-behavior="picker"
			   data-icon-up="icon icon-chevron-up"
			   data-icon-down="icon icon-chevron-down"
			   data-template-url="views/timepicker.tpl.html"
			   placeholder="Válassz időpontot!"
			   bs-timepicker>
	</span>
	<span ng-if="vm.ngModel.conditionType === 'RELAY'">
		, a(z)&nbsp;
		<select class="form-control"
				data-ng-model="vm.ngModel.conditionValue1"
				data-ng-options="relay as relay.name for relay in vm.relays | filter: {relayid: '!' + $parent.$parent.vm.ngModel.relay.relayid} track by relay.relayid">
			<option label="Válassz relét!"></option>
		</select>
		&nbsp;relé&nbsp;
		<select class="form-control"
				data-ng-model="vm.ngModel.conditionValue2"
				data-ng-options="operation.operation as operation.label2 for operation in vm.operations">
			<option label="Válassz állapotot!"></option>
		</select>
	</span>
	<span ng-if="(vm.ngModel.condition === '=' || vm.ngModel.condition === '!=') && vm.ngModel.conditionType !== 'RELAY'">
		&nbsp;-val/vel&nbsp;
	</span>
	<button type="button" class="btn btn-danger delete" data-ng-click="$parent.vm.removeSubCondition($parent.$index)">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
