<div class="form-inline sub-form-group">
	<span ng-if="$parent.$index !== 0">és</span>
	&nbsp;ha&nbsp;
	<select class="form-control"
			data-ng-model="vm.ngModel.conditionType"
			data-ng-options="conditionType.id as conditionType.label for conditionType in vm.conditionTypes"
			data-ng-change="vm.resetModelValue(1)">
		<option label="Válassz kategóriát!"></option>
	</select>
	<span ng-if="vm.ngModel.conditionType === 'TEMP'">
		&nbsp;a(z)&nbsp;
		<select class="form-control"
				data-ng-model="vm.ngModel.conditionValue1"
				data-ng-options="sensor as sensor.name for sensor in vm.sensors track by sensor.sensorid">
			<option label="Válassz érzékelőt!"></option>
		</select>
		&nbsp;-ban/ben&nbsp;
	</span>
	<span ng-if="vm.ngModel.conditionType === 'WEATHER'">
		&nbsp;a(z)&nbsp;
		<select class="form-control"
				data-ng-model="vm.ngModel.conditionValue1"
				data-ng-options="weatherTime.id as weatherTime.label for weatherTime in vm.weatherTimes"
				data-ng-change="vm.resetModelValue(2)">
			<option label="Válassz időpontot!"></option>
		</select>
		&nbsp;a(z)&nbsp;
		<select class="form-control"
				data-ng-model="vm.ngModel.conditionValue2"
				data-ng-options="weatherType.id as weatherType.label for weatherType in vm.weatherTypes | filter:vm.weatherTypeIsDayFilter"
				data-ng-change="vm.resetModelValue(3)">
			<option label="Válassz típust!"></option>
		</select>
		<span ng-if="vm.ngModel.conditionValue2 !== 'weathertype'">
			<select class="form-control"
					data-ng-model="vm.ngModel.condition"
					data-ng-options="condition.sign as (vm.weatherTypeTimeFilter() !== 'NORMAL' ? (vm.weatherTypeTimeFilter() === 'PAST' ? condition.labelPast : condition.labelFuture) : condition.label) for condition in vm.conditions">
				<option label="Válassz feltételt!"></option>
			</select>
		</span>
		<span ng-if="vm.ngModel.conditionValue2 === 'tempcurrent' || vm.ngModel.conditionValue2 === 'tempmax' || vm.ngModel.conditionValue2 === 'tempmin'">
			<input class="form-control"
				   data-ng-model="vm.ngModel.conditionValue3"
				   placeholder="Írj be értéket!"
				   min-value="-50"
				   max-value="120"
				   only-real-number />&nbsp;&deg;C
		</span>
		<span ng-if="vm.ngModel.conditionValue2 === 'humidity' || vm.ngModel.conditionValue2 === 'precipprobability'">
			<input class="form-control"
				   data-ng-model="vm.ngModel.conditionValue3"
				   placeholder="Írj be értéket!"
				   min-value="0"
				   max-value="100"
				   only-real-number />&nbsp;%
		</span>
		<span ng-if="vm.ngModel.conditionValue2 === 'windspeed'">
			<input class="form-control"
				   data-ng-model="vm.ngModel.conditionValue3"
				   placeholder="Írj be értéket!"
				   min-value="0"
				   max-value="500"
				   only-real-number />&nbsp;km/h
		</span>
		<span ng-if="vm.ngModel.conditionValue2 === 'weathertype'">
			<select class="form-control"
					data-ng-model="vm.ngModel.condition"
					data-ng-options="condition.sign as (vm.weatherTypeTimeFilter() !== 'NORMAL' ? (vm.weatherTypeTimeFilter() === 'PAST' ? condition.labelPast : condition.labelFuture) : condition.label) for condition in vm.conditions | filter: {boolComparable: true}">
				<option label="Válassz feltételt!"></option>
			</select>
			<select class="form-control"
					data-ng-model="vm.ngModel.conditionValue3"
					data-ng-options="weatherCharacteristic.value as weatherCharacteristic.label for weatherCharacteristic in vm.weatherCharacteristics">
				<option label="Válassz értéket!"></option>
			</select>
		</span>
	</span>
	<span ng-if="vm.ngModel.conditionType !== 'RELAY' && vm.ngModel.conditionType !== 'DAY' && vm.ngModel.conditionType !== 'WEATHER'">
		<select class="form-control"
				data-ng-model="vm.ngModel.condition"
				data-ng-options="condition.sign as condition.label for condition in vm.conditions">
			<option label="Válassz feltételt!"></option>
		</select>
	</span>
	<span ng-if="vm.ngModel.conditionType === 'TEMP'">
		<input class="form-control"
			   data-ng-model="vm.ngModel.conditionValue2"
			   placeholder="Írj be értéket!"
			   min-value="-50"
			   max-value="120"
			   only-real-number />&nbsp;&deg;C
	</span>
	<span ng-if="vm.ngModel.conditionType === 'DAY'">
		<select class="form-control"
				data-ng-model="vm.ngModel.condition"
				data-ng-options="condition.sign as condition.label for condition in vm.conditions | filter: {boolComparable: true}">
			<option label="Válassz feltételt!"></option>
		</select>
		&nbsp;
		<select class="form-control"
				data-ng-model="vm.ngModel.conditionValue1"
				data-ng-options="dayOption.value as dayOption.label for dayOption in vm.dayOptions">
			<option label="Válassz értéket!"></option>
		</select>
	</span>
	<span ng-if="vm.ngModel.conditionType === 'DATE'">
		<input type="text"
			   class="form-control"
			   data-ng-model="vm.ngModel.conditionValue1"
			   data-start-week="1"
			   data-date-format="yyyy-MM-dd"
			   data-model-date-format="yyyy-MM-dd"
			   data-date-type="string"
			   data-use-native="true"
			   data-icon-left="icon icon-chevron-left"
			   data-icon-right="icon icon-chevron-right"
			   data-autoclose="true"
			   placeholder="Válassz dátumot!"
			   bs-datepicker>
	</span>
	<span ng-if="vm.ngModel.conditionType === 'TIME'">
		<input type="text"
			   class="form-control"
			   data-ng-model="vm.ngModel.conditionValue1"
			   data-time-format="HH:mm"
			   data-model-time-format="HH:mm"
			   data-time-type="string"
			   data-use-native="true"
			   data-length="1"
			   data-minute-step="1"
			   data-arrow-behavior="picker"
			   data-icon-up="icon icon-chevron-up"
			   data-icon-down="icon icon-chevron-down"
			   data-template-url="views/timepicker.tpl.html"
			   placeholder="Válassz időpontot!"
			   bs-timepicker>
	</span>
	<span ng-if="vm.ngModel.conditionType === 'RELAY'">
		, a(z)&nbsp;
		<select class="form-control"
				data-ng-model="vm.ngModel.conditionValue1"
				data-ng-options="relay as relay.name for relay in vm.relays | filter: {relayid: '!' + $parent.$parent.vm.ngModel.relay.relayid} track by relay.relayid">
			<option label="Válassz relét!"></option>
		</select>
		&nbsp;relé&nbsp;
		<select class="form-control"
				data-ng-model="vm.ngModel.conditionValue2"
				data-ng-options="operation.operation as operation.label2 for operation in vm.operations">
			<option label="Válassz állapotot!"></option>
		</select>
	</span>
	<span ng-if="(vm.ngModel.condition === '==' || vm.ngModel.condition === '!=') && vm.ngModel.conditionType !== 'RELAY'">
		&nbsp;-val/vel&nbsp;
	</span>
	<button type="button" class="btn btn-danger delete" data-ng-click="$parent.vm.removeSubCondition($parent.$index)">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
