<div class="well">
	<h1>Irányítópult</h1>

	<div class="row">
		<div class="col-xs-12 col-sm-6" ng-repeat="relay in vm.relays">
			<div class="thumbnail relay-container">
				<div class="caption">
					<h3>{{relay.name}}</h3>
					<hr/>

					<div class="row">
						<div class="col-xs-6 vcenter">
							<strong>Jelenlegi állapot:</strong>
						</div><!--
						--><div class="col-xs-6 vcenter relay-status" ng-class="{'green': relay.status}">
							{{(relay.status ? 'Bekapcsolva' : 'Kikapcsolva')}}
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 vcenter">
							<strong>Üzemmód:</strong>
						</div><!--
						--><div class="col-xs-6 vcenter">
							<select class="form-control relay-state-select"
									data-ng-model="relay.state">
								<option value="auto">Automata</option>
								<option value="manual">Manuális</option>
							</select>
						</div>
					</div>
					<div class="row" ng-if="relay.state === 'manual'">
						<div class="col-xs-6 vcenter">
							<strong>Kapcsoló:</strong>
						</div><!--
                        --><div class="col-xs-6 vcenter">
							<div data-ng-model="relay.status"
								 data-ng-change="vm.switchRelayStatus(relay)"
								 data-on-label="Be"
								 data-off-label="Ki"
								 toggle-switch></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-sm-3" ng-repeat="sensor in vm.sensors">
			<div class="thumbnail sensor-container">
				<div class="caption">
					<h4>{{sensor.name}}</h4>
					<h6>{{sensor.lasttime}}</h6>
					<br/>
					<strong><h4>{{sensor.lastvalue | number: 1}} °C</h4></strong>
				</div>
			</div>
		</div>
	</div>
</div>
