<div class="well">
	<h1>Irányítópult&nbsp;
		<span class="label"
			  ng-class="{'label-success' : isLiveData , 'label-danger' : !isLiveData}">
			{{(isLiveData ? 'Raspberry: aktív' : 'Raspberry: inaktív')}}
		</span>
	</h1>

	<div class="row">
		<div class="col-xs-12 col-sm-6" ng-repeat="relay in vm.relays">
			<div class="thumbnail relay-container">
				<div class="caption">
					<h3>{{relay.name}}</h3>
					<hr/>

					<div class="row">
						<div class="col-xs-6 vcenter">
							<strong>Jelenlegi állapot:</strong>
						</div><!--
						--><div class="col-xs-6 vcenter relay-status" ng-class="{'green': relay.status}">
							{{(relay.status ? 'Bekapcsolva' : 'Kikapcsolva')}}
							<i class="icon icon-info"
							   data-placement="top-right"
							   data-title="Információ"
							   data-content="Automata módban előfordulhat, hogy a relé jelenlegi állapota 1-2 perces eltérésben van a valósággal."
							   data-trigger="click"
							   bs-popover></i>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 vcenter">
							<strong>Üzemmód:</strong>
						</div><!--
						--><div class="col-xs-6 vcenter">
							<select class="form-control relay-state-select"
									data-ng-model="relay.state"
									data-ng-change="vm.switchRelayState(relay)">
								<option value="auto">Automata</option>
								<option value="manual">Manuális</option>
							</select>
						</div>
					</div>
					<div class="row" ng-if="relay.state === 'manual'">
						<div class="col-xs-6 vcenter">
							<strong>Kapcsoló:</strong>
						</div><!--
                        --><div class="col-xs-6 vcenter">
							<div data-ng-model="relay.status"
								 data-ng-change="vm.switchRelayStatus(relay)"
								 data-on-label="Be"
								 data-off-label="Ki"
								 toggle-switch></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-sm-3" ng-repeat="sensor in vm.sensors">
			<div class="thumbnail sensor-container">
				<div class="caption">
					<h4>{{sensor.name}}</h4>
					<h6>{{sensor.lasttime}}</h6>
					<br/>
					<h4>
						<strong style="color: {{vm.getSensorColorByTemp(sensor)}}">
							{{sensor.lastvalue | number: 1}} °C
						</strong>
					</h4>
					<span class="status-led"
						  ng-class="{'off' : !vm.getSensorLedStatus(sensor)}"
						  data-placement="auto"
						  data-title="Információ"
						  data-content="Ha a jelzés zöld, akkor a szenzorról a legfrissebb adatok elérhetők. Ha a jelzés piros, akkor valószínűleg megszakadt a kapcsolat a szenzorral."
						  data-trigger="click"
						  bs-popover></span>
				</div>
			</div>
		</div>
	</div>
</div>
