.well {
  h1 {
    margin-bottom: 30px;
    .label {
      vertical-align: middle;
      float: right;
      font-size: 12px;
      padding: 5px;
      margin-top: 10px;
    }
    &:after {
      content: '';
      clear: both;
      display: table;
    }
  }

  .relay-state-select {
    margin: 5px 0;
  }

  .relay-status {
    color: #DC143C;

    &.green {
      color: #00A000;
    }
  }
}

.sensor-container {
  min-height: 170px;
}

.relay-container {
  min-height: 195px;
}

@media (max-width: 991px) {
  .sensor-container {
    min-height: 170px;
  }
}
