<div class="panel panel-default">
	<div class="panel-body">
		<table class="table">
			<thead>
			<tr>
				<th>#</th>
				<th>Azonosító</th>
				<th>Név</th>
				<th>Utolsó érték</th>
				<th>Utolsó beolvasás ideje</th>
				<th>Lehetőségek</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="sensor in vm.sensors | orderBy: 'position'">
				<td>{{sensor.position}}</td>
				<td>{{sensor.sensorid}}</td>
				<td><input type="text" class="form-control" value="{{sensor.name}}" /></td>
				<td>{{sensor.lastvalue}}</td>
				<td>{{sensor.lasttime}}</td>
				<td>
					<button type="button" class="btn btn-primary" data-ng-click="vm.moveSensor($index, 'up')">
						<i class="icon icon-circle-up"></i>
					</button>
					<button type="button" class="btn btn-primary" data-ng-click="vm.moveSensor($index, 'down')">
						<i class="icon icon-circle-down"></i>
					</button>
					<button type="button" class="btn btn-danger" data-ng-click="vm.deleteSensor($index)">
						<i class="icon icon-bin"></i>
					</button>
				</td>
			</tr>
			</tbody>
		</table>
		<div class="buttons">
			<button type="button" class="btn btn-success" data-ng-click="vm.addSensor()">
				Új érzékelő hozzáadása
			</button>
		</div>
	</div>
</div>
