<div class="panel panel-default" ng-controller="SettingsRelayAutomationTabController as vm">
	<div class="panel-body">
		<div class="main-condition"
			 ng-repeat="mainCondition in vm.mainConditions"
			 compile="mainCondition.template"></div>
		<div ng-show="vm.mainConditions.length === 0">
			Automatizáció definiálásához először adj hozzá egy vagy több relét a listához!
		</div>
		<div class="add-main-condition">
			<button type="button" class="btn btn-primary" data-ng-click="vm.addMainCondition()">
				+ Relé hozzáadása
			</button>
		</div>
		<div class="bg-info">
			<i class="icon icon-info"></i>
			Ellentmondó feltételek esetében a rendszer nem jelez hibát, viszont a relék működése kiszámíthatatlanná válhat!
		</div>
		<div class="form-group">
			<button type="button" class="btn btn-success" data-ng-click="vm.save()">
				Automatizáció mentése
			</button>
		</div>
	</div>
</div>
