.navbar {
  border-radius: 0;

  .navbar-brand {
    > * {
      vertical-align: middle;
    }
    .icon {
      font-size: 18px;
      margin-right: 10px;
    }
  }
}

@media (max-width: 767px) {
  .navbar-nav {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .navbar .collapse {
    display: block !important;
  }
}
